.nav {
    grid-area: n;
    background-color: #872caf;
    padding: 20px;
}

.item{
    color:white;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink{
    color:gray;
}